{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block monTitre %}
    {% if isModification %}
        Modification: {{oiseau.nom}}
    {% else %}
        Ajout d'un oiseau
    {% endif %}
{% endblock %}

{% block body %}
<div class="container">
{{form_start(form)}}
<div class="row">
    <div class="col-6">
        <img src="{{asset('images/' ~ oiseau.image)}}" style="width:25%">
        <div>{{form_row(form.image, {'label': "Image"})}}</div>
        <div>{{form_row(form.nom, {'label': " Nom de l'oiseau"})}}</div>
    </div>
    <div class="col-6">
        <div>{{form_row(form.description, {'label': "Description de l'oiseau"})}}</div>
        <div>{{form_row(form.lieu, {'label': "Localisation de l'oiseau"})}}</div>
        <div>{{form_row(form.vie, {'label': "Mode de vie de l'oiseau"})}}</div>
        <div>{{form_row(form.alimentation, {'label': "Type d'alimentation de l'oiseau"})}}</div>
    {{form_widget(form)}}
    </div>
</div>
    <input type="submit" class="btn btn-success" value="Enregistrer">
{{form_end(form)}}
</div>

{% endblock %}
