{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block monTitre %}Article: {{oiseau.nom}}{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12">
        <div class="card border-dark mb-3 mx-auto" style ="max-width:60rem">
            <div class="card-header bg-warning text-center text-white">
                <h5 class='card-title text-center pb-2 mx3 border-bottom border-white'>{{oiseau.nom}}</h5>
            </div>
            <div class="card-body">
             <div class="row text-center mb-3">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class='info'>Localisation: 
                            <span class="badge badge-dark">{{oiseau.lieu}}</span>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">  
                        <div class='info'>Mode de vie: 
                            <span class="badge badge-dark">{{oiseau.vie}}</span>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 ">    
                        <div class='info'>Alimentation: 
                            <span class="badge badge-dark">{{oiseau.alimentation}}</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 text-center mb-2">
                        <img src="{{asset('images/oiseaux/' ~ oiseau.image)}}" class="img-fluid perso_imgOiseauArt card-img-top"> 
                    </div>
                    <div class="col-12 col-md-6 mb-2">
                        <p>{{oiseau.description}}</p>
                        <p>{{oiseau.descriptionDeux}}</p>
                        <p>{{oiseau.descriptionTrois}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
{% endblock %}
