{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block monTitre %}Article: {{oiseau.nom}}{% endblock %}
{% block footer %}<div class="contact mt-3 ml-5"><a href="mailto:viry.blandine@gmail.com"class="mail"><i class="fa fa-envelope"> Contacter le Merle</i></a></div>{% endblock %}

{% block body %}
<div class="row">
    
        <div class="col-12">
            <div class="card border-primary mb-3 mx-auto" style ="max-width:60rem">
            <div class="card-header text-center bg-warning text-white">
                <h5 class='card-title text-center pb-2 mx3 border-bottom border-white'>{{oiseau.nom}}</h5>
                
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <img src="{{asset('images/oiseaux/' ~ oiseau.image)}}" class="perso_imgOiseauArt card-img-top">
                        <div class="mt-2">
                            <a class="btn btn-outline-warning btn-sm my-2" href="{{path('oiseauxParLieu', {"lieu": "lac"})}}">Lacs et rivières</a>
                            <a class="btn btn-outline-warning btn-sm" href="{{path('oiseauxParLieu', {"lieu": "jardin"})}}">Jardins et zones construites</a>
                            <a class="btn btn-outline-warning btn-sm" href="{{path('oiseauxParLieu', {"lieu": "foret"})}}">Forêts et campagnes</a>
                            <a class="btn btn-outline-warning btn-sm" href="{{path('oiseauxParLieu', {"lieu": "ocean"})}}">Mers et océans</a>
                        </div>
                    </div>
                    <div class="col-6">
                        <p>{{oiseau.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>

{% endblock %}
